---
import { Icon } from 'astro-icon/components'
---

<aside class="socials">
  <nav>
    <a href="#" aria-label="Mail">
      <Icon name="top" size={28} />
    </a>

    <a
      href="https://github.com/czer0C"
      aria-label="GitHub"
      target="_blank"
      rel="noopener noreferrer"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="github" size={28} />
    </a>

    <a
      href="https://www.linkedin.com/in/czer0c/"
      aria-label="LinkedIn"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="linkedin" size={28} />
    </a>

    <a
      href={`mailto:trieunguyen04239@gmail.com?subject=Hello%20Nguyen%20Trieu&body=Hello%20Nguyen%20Trieu%2C%0A%0A`}
      aria-label="Mail"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="mail" size={28} />
    </a>
  </nav>
</aside>

<style>
  .socials {
    display: none;

    @media (width >= 1200px) {
      display: initial;
      position: fixed;
      bottom: 0;
      right: 0;
      translate: -46px;

      & nav {
        display: flex;
        gap: 24px;
        flex-direction: column;

        &::after {
          content: '';
          background-color: var(--text-color);
          width: 1px;
          height: 127px;
          margin-inline: auto;
        }

        & a {
          color: var(--color-text);
          text-decoration: none;
          transition: var(--transition-text);

          &:hover {
            color: var(--text-description-color);
          }
        }
      }
    }
  }
</style>
